/*Skyfleet Style Sheet Main*/
/*---Fonts---*/
@font-face {
  font-family: Proximanova;
  src: url(../fonts/proximanova-regular-webfont.woff);
}
@font-face {
  font-family: ProximanovaBold;
  src: url(../fonts/proximanova-bold-webfont.woff);
}

@font-face {
  font-family: ProximanovaThin;
  src: url(../fonts/proximanova-light-webfont.woff);
}
@font-face {
  font-family: ProximanovaSemiBold;
  src: url(../fonts/proximanova-semibold-webfont.woff);
}
@font-face {
  font-family: SanFransisco;
  src: url(../fonts/sanfranciscodisplay-regular-webfont.woff);
}
@font-face {
  font-family: SanFransiscoSemiBold;
  src: url(../fonts/sanfranciscodisplay-semibold-webfont.woff);
}
@font-face {
  font-family: SanFransiscoBold;
  src: url(../fonts/sanfranciscodisplay-bold-webfont.woff);
}
@font-face {
  font-family: SanFransiscoThin;
  src: url(../fonts/sanfranciscodisplay-thin-webfont.woff);
}
@font-face {
  font-family: Helvetican;
  src: url(../fonts/helveticaneue.woff);
}
@font-face {
    font-family:HelveticanLight;
        src: url(../fonts/HelveticaNeue-Light.woff);
}
/*---------- Fonts END-----------*/

/*---------- Site Layout-----------*/

body {
    width: 1250px;
  max-width: 1240px !important;
  margin-left:auto !important; margin-right: auto !important; 
  font-family: ProximanovaSemiBold;
  background-color: #FFFFFF;
  overflow: scroll;
}

/*---------- Site Layout END-----------*/

/*------------------Header Styles-------------------------*/
.nav-head{
    width:1240px; 
    display:inline-flex;
    height:80px;
    background-color:#fff;
}
.logo-container{
    float:left;
    width:265px;
    height:55px;
    padding:6px;
    margin:17px;
}
.btn-default{
    background-color: transparent !important;
}
#headButton:hover
{
    color:#4A90E2 !important;
}
#headButton:active
{
    color:#4A90E2 !important;
    border:none !important;
}

.logo
{
    position: absolute;
    margin-top:4px;
    width: 30px;
    margin-right: 8px;
}
#name-container{
    font-family: HelveticanLight;
    letter-spacing:1.22px;
    width:250px;
    margin-left: 38px;
    color: #5F6464;
    font-size: 28px;
}
.navlist-container{
    float:left;
    width:720px;
    height:55px;
    margin:17px 90px 17px 50px;
    font-family:SanFransisco;
    font-size: 12px;
}
.avatar-container{
    float:left;
    width:210px;
    height:55px;
    margin:17px;
}
.ava
{
  width: 28px;
  margin-left:35px;
  border-radius: 50%;
  border-color: #C5C7C9;
  border-width: 100px;
}
#headButton
{
    border:none;
    margin:10px 0px;
}
/*---------- Header END-----------*/
/*--------------------Nav Tab-----------------------*/
.navtab{
    width:1240px;
    background-color:#4A5060;
    display:inline-flex;
}
.nav-tabs > li > a
{
    color:#fff;
    border-radius:0px !important;
}
.nav-tabs > li > a:hover
{
    color:#555;
}
#navtabs > li.active > a
{
    background-color:#F0F0F0;
}
#active
{
  background-color:#F0F0F0;
  color : #555;
}
.navtab-title{
    padding-top:33px;
    font-family:SanFransisco;
    font-size:28px;
    color:#fff;
    margin-left:20px;
}
#navtabs
{
    margin-top:60px;
    margin-left:195px;
    border:none;
}
/*--------------------Nav Tab END-----------------------*/
/*--------------------Seperator-----------------------*/
.seperate{
    width:1240px;
    height:20px;
    background-color:#F0F0F0;
}
/*--------------------Seperator End-----------------------*/
/*--------------------Trip Details Bar-----------------------*/
.tripdetails-container{
    width:1240px;
    height:70px;
    background-color:#fff;
    display:inline-flex;
    font-family: SanFransisco;
    color: #BFBFBF;
}
.tripsfound{
    margin:20px 25px; 
    height: 35px; 
    background-color:white;
}
.trip{
    font-size: 20px;
}
#showtrips{
    margin-top:20px;
}
#box-contain1{
    margin:20px 12px 20px 510px;
    height: 35px;
    background-color:white;
}
#box-contain{
    margin:20px 12px 20px 12px;
    height: 35px;
    background-color:white;
}
.data{
    color:#bfbfbf;
    text-align:left;
    font-size: 36px;
    line-height: 14px;
}
.sub-data{
    font-size: 10px;
}
.miles{
    font-size:14px;
    line-height:2px;
}
/*--------------------Trip Details Bar End-----------------------*/

/*----------------------------Footer----------------------------------*/
.foot{
    display:-webkit-inline-box;
    width:1240px;
    height:120px;
    font-family:HelveticanLight;
    background-color:#526C87;
}
.footLable{
    font-size:28px;
    margin-top:40px;
    color: #9B9B9B; 
}
.fooLogo{
    width: 30px;
    margin:45px 10px 0px 40px;
}
/*----------------------------Footer End----------------------------------*/

/*----------------------------List Group----------------------------------*/
.list-group-item{
    border-bottom:0.5px solid #809387 !important;
    background-color:transparent;
}
.list-group-items{
    border-bottom:none !important;
}
.listHead{
    text-align:left;
    margin : 12px 0px 5px 15px;
    color:#fff;
    font-size:18px;
}
#lists:hover
{
    background-color:#fff;
}
#lisText{
    color: #f5f5f5;
}
#lists:hover #lisText{
    color: #000;
}
/*----------------------------List Group End----------------------------------*/
/*----------------------------Checkbox----------------------------------*/
    .norm {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
    .sam {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
    .zoom {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
input[type=checkbox] {
	display: none;
}
.norm:before {
	content: "";
	display: inline-block;
    border-radius: 4px;
	width: 18px;
	height: 18px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 2px;
	background-color: #fff;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.sam:before {
  content: "";
  display: inline-block;
    border-radius: 4px;
  width: 18px;
  height: 18px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: #526C87;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.zoom:before {
  content: "";
    border:1px solid #526C87;
  display: inline-block;
    border-radius: 4px;
  width: 18px;
  height: 18px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 2px;
  background-color: #fff;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.checkbox label:before {
    border-radius: 5px;
}
.checkbox label:before {
    border-radius: 5px;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 14px;
	color: #4A5060;
	text-align: center;
    line-height: 20px;
    background-color:#fff;
}
input[type=checkbox]:checked + .sam:before {
    color: #4A5060;
    }
input[type=checkbox]:checked + .zoom:before {
color: #526C87;
line-height: 17px;
}
/*----------------------------Checkbox End----------------------------------*/
/*----------------------------Scroll Bar----------------------------------*/
.scrollbar
{
	float: left;
	height: 300px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

/*
 *  STYLE 5
 */

#style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #7D8FA1;
}

#style-5::-webkit-scrollbar
{
	width: 12px;
	background-color: #7D8FA1;
}

#style-5::-webkit-scrollbar-thumb
{
	background-color: #66B1E3;

}
/*----------------------------Scroll Bar End----------------------------------*/
/*----------------------------Zoom Button End----------------------------------*/
.leaflet-control
{
    border-radius: 0px;
    height: 28px !important;
    display: -webkit-inline-box;
    margin-top: 15px !important;
    margin-right: 264px !important;
    border: 0px;
}
.leaflet-control-zoom-in
{
    border: 0px !important;
    height: 28px !important;
    background-color: #4A5060;
}
.leaflet-control-zoom-out
{
    border: 0px;
    height: 28px !important;
}
.leaflet-right 
{
  margin-right: 0px !important;
}
/*----------------------------Zoom Button End----------------------------------*/