<div id="loginContainer" ng-controller="loginController" ng-init="session();loginForm={};">
<img style="opacity: 0.8" src="../images/lock7.png">
    <div style="position: absolute; width: 345px; top:205px; right: 430px; background-color: #F6F6F6; padding: 40px 25px; border-radius: 12px;">
        <h1>Login</h1>
        <div ng-bind-html="divHtmlVar" style="color:red"></div>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <div ng-show="success" class="alert alert-danger">{{successMessage}}</div>
        <form class="form" ng-submit="login()">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" name="username" ng-model="loginForm.email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" ng-model="loginForm.password" >
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-disabled="disabled">Login</button>
            </div>
        </form>
        </div>
    </div>