<div style="width: 100%; padding: 10px; height: 46px; background-color: #F0F0F0; margin: auto; ">
    <button class="subBar" aria-label="Left Align" ui-sref="list">
        <span aria-hidden="true" >Rental supply</span>
    </button>
    <button type="button" class="subBar" aria-label="Left Align" ng-click="selectedTab=1">
        <span aria-hidden="true">Rental demand</span>
    </button>
    <button type="button" class="subBar" aria-label="Left Align" ng-click="selectedTab=2">
        <span aria-hidden="true">Unmet demand</span>
    </button>
    <button type="button" class="subBar" aria-label="Left Align" ng-click="selectedTab=3">
        <span aria-hidden="true">App opening areas</span>
    </button>
    <button type="button" class="subBar" aria-label="Left Align" ng-click="selectedTab=4">
        <span aria-hidden="true">Bike in versus out</span>
    </button>

</div>