

<!--<div ng-controller="tripExplorerController" xmlns="http://www.w3.org/1999/html">
    <div layout="row" style="color: #BFBFBF; height: 50px; font-family: SanFransisco; background-color: #F0F0F0; padding-top: 12px;">
        <div flex="15" style="height: 35px; /*width: 120px; margin-left: 20px; margin-right: 20px; display: -webkit-inline-box;*/"><p style="font-size: 20px; /*position: absolute;top: 11px;*/">25 trips found</p></div>
        <div flex="55" class="dropdown" style="color:#585858; font-family: ProximanovaSemiBold; bottom:10px; /*display: -webkit-inline-box; margin-right: 350px;*/">
            <md-button class="md-button md-ink-ripple dropdown-toggle" id="dropdownMenu2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="font-size: 14px;" class="ng-scope">Showing trips in the last week</span><div class="md-ripple-container"></div>
            </md-button>
            <ul style="background-color: #526C87;" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="">Last day</a></li>
                <li><a href="">Last week</a></li>
                <li><a href="">Last month</a></li>
                <li><a href="">Custom date range</a></li>
            </ul>
        </div>
        <div flex="6" style="color: #BFBFBF; height: 35px; /*width: 110px; display: -webkit-inline-box;*/"><p style=" font-size: 36px; /*position: absolute;top: 12px;*/ line-height: 14px;">25<br><span style="font-size: 10px;">TRIPS</span></p></div>
        <div flex="6" style="color: #BFBFBF; height: 35px; /*width: 110px; display: -webkit-inline-box;*/"><p style=" font-size: 36px; /*position: absolute;top: 12px;*/ line-height: 14px;">125<br><span style="font-size: 10px;">MILES</span></p></div>
        <div flex="10" style="color: #BFBFBF; height: 35px; /*width: 125px; display: -webkit-inline-box;*/"><p style=" font-size: 36px; /*position: absolute;top: 12px;*/ line-height: 14px;">02:12<br><span style="font-size: 10px;">AVERAGE DURATION</span></p></div>
        <div flex="6"style="color: #BFBFBF; height: 35px; /*width: 125px; display: -webkit-inline-box;*/"><p style=" font-size: 36px; /*position: absolute;top: 12px;*/ line-height: 14px;">3.24<br><span style="font-size: 10px;">AVERAGE LENGTH</span></p></div>
<!--           <span>
                25 Rides Found
            </span>
            <span style="margin-left: 761px;">
                25
            </span>
            <span style="margin-left: 49px;">
                100
            </span>
            <span style="margin-left: 50px;">
                00:01
            </span>
            <span style="margin-left: 80px;">
                3.00 mi
            </span><br>
                    <span>

            </span>
            <span style="margin-left: 853px;">
                Trips
            </span>
            <span style="margin-left: 41px;">
                Miles
            </span>
            <span style="margin-left: 26px;">
                Average Duration
            </span>
            <span style="margin-left: 14px;">
                Average Length
            </span>
        </div>
    </div>
<div id="map"></div>
    <leaflet style="float: left; margin-bottom: 35px; position: relative;" lf-center="london" markers="fullMarkers" tiles="tiles" paths="fullPaths" defaults="defaults" width="100%" height="480px"></leaflet>
    <ang-accordion style="width: 320px; margin-top: 10px; margin-left: 5px; float: left; position: absolute;" one-at-a-time="true" icon-position="right" close-icon-class="fa fa-chevron-right" open-icon-class="fa fa-chevron-down">

        <collapsible-item item-title="TRIP FILTERS">

            <form id="filters-form" >

                <md-input-container>
                    <label>Biker Name</label>
                    <input name="clientName" ng-model="bike.name">

                </md-input-container>
                <md-container class="md-block">
                    <label>Age</label>
                    <div range-slider min="0" max="100" model-min="bike.min" model-max="bike.max" disabled="false"></div>
                    <div style="margin-bottom: 20px;">
                        From:     {{bike.min}} To: {{bike.max}}</div>
                </md-container>

                <md-container class="md-block">
                    <div><label>Gender</label></div>
                    <div style="margin-left: auto;margin-right: auto;">
                        <div class="row" style="margin-left: auto;margin-right: auto;">
                            <div class="col-xs-6">
                                <img ng-click="male()" class="m" style="width: 55px; padding: 10px; margin-top: 15px; margin-bottom: 25px;" src="../images/men.svg">
                            </div>
                            <div class="col-xs-6">
                                <img ng-click="female()" class="f" style="width: 55px; padding: 10px; margin-top: 15px; margin-bottom: 25px;" src="../images/women.svg">
                            </div>
                        </div>
                    </div>
                </md-container >
                <md-button class="md-raised" type="cancel"> Update </md-button>
                <md-button class="md-raised" ng-click="rese()" style="margin-bottom: 40px;"> Reset </md-button>
            </form>


        </collapsible-item>
    </ang-accordion>

    <md-input-container style="width: 400px;float: left; position: absolute; right:0px;height: 508px;">

        <md-toolbar style="background-color: #526C87;">
            <h2 class="md-toolbar-tools">
                <span style="color: #f5f5f5;">Trip History</span>
            </h2>
        </md-toolbar>

        <md-content style="background-color: #526C87;">
            <md-list>
                <div class="scrollbar" id="style-1">
                    <div class="force-overflow">
                        <md-list-item class="md-3-line" ng-repeat="item in geoJson.rides" ng-mouseover="hoverIn($index)" ng-mouseleave="hoverOut($index)">
                            <img id="avatar" style="margin-top: auto; width: 45px; margin-bottom: auto;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" ng-src="../images/mask{{item.rideinfo.avatarImg}}.png" class="Mask" alt="{{item.bikeinfo.rider}}">
                            <div  id="scroll" class="md-list-item-text">
                                <div style="float: left;margin-left: 23px;margin-right: 28px; width: 90px;">
                                    <ul style="list-style: none; font-size: 12px; color: #f5f5f5; line-height: 20px; padding-left: 0px;" class="lis" >
                                        <li>{{item.bikeinfo.rider}}</li>
                                        <li>{{item.bikeinfo.age}}</li>
                                        <li>{{item.bikeinfo.gender}}</li>
                                    </ul>
                                </div>
                                <div style="float:right; margin-right: 30px;">
                                    <ul style="list-style: none; padding: 0px;font-size: 12px; color: #f5f5f5;line-height: 20px; text-align: right;">
                                        <li>{{item.rideinfo.startplace}}&nbsp;,&nbsp;&nbsp;{{item.rideinfo.startTime}}<img ng-src="../images/side{{item.rideinfo.iconImg}}.png" style="position: absolute;" ></li>
                                        <li>{{item.rideinfo.distance}}&nbsp;,&nbsp;&nbsp;{{item.rideinfo.duration}}</li>
                                        <li>{{item.rideinfo.endplace}}&nbsp;,&nbsp;&nbsp;{{item.rideinfo.endTime}}</li>
                                    </ul>
                                </div>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </div>
                </div>
            </md-list>
        </md-content>
    </md-input-container>
</div>-->

<div class="tripdetails-container" ng-controller="tripExplorerController" >
    <div class="tripsfound"><p class="trip">25 trips found</p></div>
    <div id="showtrips" class="btn-group">
        <button style="margin-left:-4px; border:0px;" type="button"  class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Showing trips in the last week 
        </button>
        <ul style="top:25px; background-color: #526C87;" class="dropdown-menu">
            <li><a href="#">This day</a></li>
            <li><a href="#">This week</a></li>
            <li><a href="#">This year</a></li>
        </ul>
    </div>
    <div id="box-contain1"><p  class="data" >25<br><span class="sub-data">TRIPS</span></p></div>
    <div id="box-contain"><p class = "data">125<br><span class="sub-data">MILES</span></p></div>
    <div id="box-contain"><p class = "data">02:12<br><span class="sub-data">AVERAGE DURATION</span></p></div>
    <div id="box-contain"><p class = "data">3.24<span class="miles">mi</span><br><span class="sub-data">AVERAGE LENGTH</span></p></div>
</div>
<div style="width:1240px; height:50px; background-color:#4A5060; display:inline-block; padding-top:12px; padding-left:15px;">
    <span style="color:#fff; font-family:SanFransisco;font-size:18px; margin-right:30px;">Show on map:</span>
    <input id="check1" type="checkbox" name="check" value="check1" checked>
    <label class="norm" style="color:#fff; margin-right:30px;" for="check1">GEOFENCES</label>
    <input id="check2" type="checkbox" name="check" value="check2" checked>
    <label class="norm" style="color:#fff; margin-right:512px;" for="check2">HUBS</label>
    <input id="check3" type="checkbox" name="check" value="check3">
    <label class="sam" style="color:#fff;" for="check3">SHOW ALL TRIPS ON MAP</label>
    <span style="color:#fff; font-family:SanFransisco;font-size:12px; margin-right:8px; ">Sort by duration</span>
    <button style="padding: 0px 2px; border:0px; background-color: {{sora}} !important;" type="button" ng-init="mon=false" class="btn btn-default"><span style="top:2px;" ng-click = "sortByDescending()" class="glyphicon glyphicon-menu-down"></span></button>
    <button style="padding: 0px 2px; border:0px; background-color: {{sorb}} !important;" type="button" ng-init="mon=false" ng-click = "sortByAscending()" class="btn btn-default"><span style="top:2px;" class="glyphicon glyphicon-menu-up"></span></button>
</div>
<div id="map" style="width :875px; height: 450px; float:left; margin-bottom:320px;"></div>
<!--Accordian Start-->
<div id="accor" style="position:absolute; width:270px; top:375px; float:left;" class="container">
    <div class="panel panel-default" style="border:none; box-shadow:none">
        <a style="color:black;" ng-click="headClick()" data-toggle="collapse" href="">
            <div class="panel-heading" style="padding-left:22px; padding-right:22px;">
                <h4 class="panel-title">
                    TRIP FILTERS
                    <span style="float:right;" class="glyphicon glyphicon-chevron-down"></span>
                </h4>
            </div>
        </a>
        <div id="collapsea" class="panel-collapse collapse {{oneClick}}">
            <div class="panel-body" style="padding-top:5px; padding-left:22px; padding-right:22px;">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" style="border-style: solid; border-radius:unset; border-bottom-color:#CFCECE; border-width: 1px 0px 1px 0px; box-shadow:none">
                        <a style="color:black;" ng-click="a1Click()" data-toggle="collapse" data-parent="#accordion" href="">
                            <div class="panel-heading" style="padding:15px 0px 15px 0px;">
                                <h4 class="panel-title">
                                    Date and time
                                    <span style="float:right;" class="glyphicon glyphicon-chevron-down"></span>
                                </h4>
                            </div>
                        </a>
                        <div id="collapse1" class="panel-collapse collapse {{twoClick}}">
                            <div class="panel-body" style="padding-top:0px; padding-left:0px; padding-right:0px;">
                                <p class="heaD">Time of day</p>
                                <div style="margin-bottom:18px;">
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:5px; padding:2px 5px 2px 5px;" id="tesT" ng-click="dayClick()" ng-init="dayFilter=false" type="button" class="btn btn-default">Day</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:5px; padding:2px 5px 2px 5px;" id="tesT1" ng-click="nightClick()" ng-init="nightFilter=false" type="button" class="btn btn-default">Night</button><br />
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:8px; padding:2px 5px 2px 5px;" ara" id="tesT2" ng-click="amClick()" ng-init="peakAMFilter=false" type="button" class="btn btn-default">Peak am</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:8px; padding:2px 5px 2px 5px;" id="tesT3" ng-click="pmClick()" ng-init="peakPMFilter=false" type="button" class="btn btn-default">Peak pm</button>
                                </div>
                                <p class="heaD">Time</p>
                                <div style="margin-bottom:10px;" range-slider min="0" max="100" model-min="bike.min" model-max="bike.max" disabled="false"></div>
                                <div style="margin-bottom: 20px;">
                                    <div style="display:inline-flex">
                                        <input style="font-size:11px; font-family:SanFransisco; width:26px; height:26px; padding:6px; margin-right:10px;" type="text" class="form-control" value="{{bike.min}}"><p style="margin-top:auto; margin-bottom:auto;">to</p>
                                        <input style="font-size:11px; font-family:SanFransisco; width:26px; height:26px; padding:6px; margin-left:10px;" type="text" class="form-control" value="{{bike.max}}">
                                    </div>
                                </div>
                                <p class="heaD">Day</p>
                                <div style="margin-bottom:20px;">
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" id="monday" ng-click="monClick()" type="button" ng-init="mon=false" class="btn btn-default">M</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" id="tue" ng-click="tueClick()" type="button" ng-init="Tue=false" class="btn btn-default">T</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" n id="wed" ng-click="wedClick()" type="button" ng-init="Wed=false" class="btn btn-default">W</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" id="thu" ng-click="thurClick()" type="button" ng-init="Thu=false" class="btn btn-default">T</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" id="fri" ng-click="friClick()" type="button" ng-init="Fri=false" class="btn btn-default">F</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" id="sat" ng-click="satClick()" type="button" ng-init="Sat=false" class="btn btn-default">S</button>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:7px;padding:2px 5px 2px 5px;" id="sun" ng-click="sunClick()" type="button" ng-init="Sun=false" class="btn btn-default">S</button>
                                </div>
                                <p class="heaD">Month</p>
                                <div style="margin-bottom:10px;">
                                    <button id="jan" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="janClick()" ng-init="Jan=false" type="button" class="btn btn-default">J</button>
                                    <button id="feb" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="febClick()" ng-init="Feb=false" type="button" class="btn btn-default">F</button>
                                    <button id="mar" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="marClick()" ng-init="Mar=false" type="button" class="btn btn-default">M</button>
                                    <button id="apr" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="aprClick()" ng-init="Apr=false" type="button" class="btn btn-default">A</button>
                                    <button id="may" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="mayClick()" ng-init="May=false" type="button" class="btn btn-default">M</button>
                                    <button id="jun" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="junClick()" ng-init="Jun=false" type="button" class="btn btn-default">J</button><br />
                                    <button id="jul" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="julClick()" ng-init="Jul=false" type="button" class="btn btn-default">J</button>
                                    <button id="aug" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="augClick()" ng-init="Aug=false" type="button" class="btn btn-default">A</button>
                                    <button id="sep" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="sepClick()" ng-init="Sep=false" type="button" class="btn btn-default">S</button>
                                    <button id="oct" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="octClick()" ng-init="Oct=false" type="button" class="btn btn-default">O</button>
                                    <button id="nov" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="novClick()" ng-init="Nov=false" type="button" class="btn btn-default">N</button>
                                    <button id="dec" style="font-size:11px; font-family:SanFransisco; margin-right:6px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="decClick()" ng-init="Dec=false" type="button" class="btn btn-default">D</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="border-style: solid; border-radius:unset; border-bottom-color:#CFCECE; border-width: 0px 0px 1px 0px; box-shadow:none">
                        <a style="color:black;" ng-click="a2Click()" data-toggle="collapse" data-parent="#accordion" href="">
                            <div class="panel-heading" style="padding:15px 0px 15px 0px;">
                                <h4 class="panel-title">
                                    Rider info
                                    <span style="float:right;" class="glyphicon glyphicon-chevron-down"></span>
                                </h4>
                            </div>
                        </a>
                        <div id="collapse2" class="panel-collapse collapse {{threeClick}}">
                            <div class="panel-body" style="padding-top:0px; padding-left:0px; padding-right:0px;">
                                <p class="heaD">Gender</p>
                                <div>
                                    <button id="ma" style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="maClick()" ng-init="Ma=false" type="button" class="btn btn-default">M</button>
                                    <button id="fe" style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="feClick()" ng-init="Fe=false" type="button" class="btn btn-default">F</button>
                                </div>
                                <p class="heaD">Rider age</p>
                                <div style="margin-bottom:10px;" range-slider min="0" max="100" model-min="bike.min" model-max="bike.max" disabled="false"></div>
                                <div style="margin-bottom: 20px;">
                                    <div style="display:inline-flex">
                                        <button id="tesTs" style="font-size:11px; font-family:SanFransisco; " ng-click="butClick()" type="button" class="btn btn-default">all ages</button>
                                    </div>
                                </div>
                                <p class="heaD">Rider type</p>
                                <div>
                                    <button style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:8px; padding:2px 8px 2px 8px;" id="mem" ng-click="memClick()" ng-init="Mem=false" type="button" class="btn btn-default">Member</button>
                                    <button id="cas" style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-click="casClick()" ng-init="Cas=false" type="button" class="btn btn-default">Casual rider</button>
                                </div>
                                <p class="heaD">Customer name</p>

                                <div class="dropdown">
                                    <div class="input-group">
                                        <button style="font-size:11px; font-family:SanFransisco; padding:0px 0px 0px 5px; width:208px; text-align:left;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                            Select customer
                                            <span class="input-group-addon glyphicon glyphicon-chevron-down" style="border:1px solid transparent; top:0px; width:20px; height:22px; padding:4px; margin-left:103px; font-size:11px; display:inline-block; border-radius:0px 5px 0px 5px; background-color:#EEEEEE;"></span>
                                        </button>
                                        <ul style="background-color:#EEEEEE; font-size:12px; width:208px;" class="dropdown-menu">
                                            <li><a id="lisa" href="">Jonathan Smith</a></li>
                                            <li><a id="lisa" href="">Will Smith</a></li>
                                            <li><a id="lisa" href="">Di Carpio</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="border-style: solid; border-radius:unset; border-bottom-color:#CFCECE; border-width: 0px 0px 1px 0px; box-shadow:none">
                        <a style="color:black;" ng-click="a3Click()" data-toggle="collapse" data-parent="#accordion" href="">
                            <div class="panel-heading" style="padding:15px 0px 15px 0px;">
                                <h4 class="panel-title">
                                    Trip info
                                    <span style="float:right;" class="glyphicon glyphicon-chevron-down"></span>
                                </h4>
                            </div>
                        </a>
                        <div id="collapse3" class="panel-collapse collapse {{fourClick}}">
                            <div class="panel-body" style="padding-top:0px; padding-left:0px; padding-right:0px;">
                                <p class="heaD">Trip duration</p>
                                <div style="margin-bottom:10px;" range-slider min="1" max="24" model-min="bike1.min" model-max="bike1.max" disabled="false"></div>
                                <div style="margin-bottom: 20px;">
                                    <div style="display:inline-flex">
                                        <button id="dur" style="font-size:11px; font-family:SanFransisco; " ng-click="durClick()" ng-init="Dur=false" type="button" class="btn btn-default">All durations</button>
                                    </div>
                                </div>
                                <p class="heaD">Trip length</p>
                                <div style="margin-bottom:10px;" range-slider min="1" max="10" model-min="bike2.min" model-max="bike2.max" disabled="false"></div>
                                <div style="margin-bottom: 20px;">
                                    <div style="display:inline-flex">
                                        <button id="miles" style="font-size:11px; font-family:SanFransisco; margin-right:8px; margin-bottom:8px; padding:2px 8px 2px 8px;" ng-init="Miles=false" ng-click="milesClick()" type="button" class="btn btn-default">Up to 5 miles</button>
                                    </div>
                                </div>
                                <p class="heaD">Pick up location</p>
                                <div class="dropdown" style="margin-top:2px; margin-bottom:12px;">
                                    <div class="input-group">
                                        <button style="font-size:11px; font-family:SanFransisco; padding:0px 0px 0px 5px; width:208px; text-align:left;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                            Select customer
                                            <span class="input-group-addon glyphicon glyphicon-chevron-down" style="border:1px solid transparent; top:0px; width:20px; height:22px; padding:4px; margin-left:103px; font-size:11px; display:inline-block; border-radius:0px 5px 0px 5px; background-color:#EEEEEE;"></span>
                                        </button>
                                        <ul style="background-color:#EEEEEE; font-size:12px; width:208px;" class="dropdown-menu">
                                            <li><a id="lisa" href="">Jonathan Smith</a></li>
                                            <li><a id="lisa" href="">Will Smith</a></li>
                                            <li><a id="lisa" href="">Di Carpio</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="heaD">Drop off location</p>
                                <div class="dropdown" style="margin-top:2px; margin-bottom:12px;">
                                    <div class="input-group">
                                        <button style="font-size:11px; font-family:SanFransisco; padding:0px 0px 0px 5px; width:208px; text-align:left;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                            Select customer
                                            <span class="input-group-addon glyphicon glyphicon-chevron-down" style="border:1px solid transparent; top:0px; width:20px; height:22px; padding:4px; margin-left:103px; font-size:11px; display:inline-block; border-radius:0px 5px 0px 5px; background-color:#EEEEEE;"></span>
                                        </button>
                                        <ul style="background-color:#EEEEEE;width:208px; font-size:12px;" class="dropdown-menu">
                                            <li><a id="lisa" href="">Jonathan Smith</a></li>
                                            <li><a id="lisa" href="">Will Smith</a></li>
                                            <li><a id="lisa" href="">Di Carpio</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="heaD">Show a specific bike</p>
                                <div class="dropdown" style="margin-top:2px; margin-bottom:12px;">
                                    <div class="input-group">
                                        <button style="font-size:11px; font-family:SanFransisco; padding:0px 0px 0px 5px; width:208px; text-align:left;" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                            Select customer
                                            <span class="input-group-addon glyphicon glyphicon-chevron-down" style="border:1px solid transparent; top:0px; width:20px; height:22px; padding:4px; margin-left:103px; font-size:11px; display:inline-block; border-radius:0px 5px 0px 5px; background-color:#EEEEEE;"></span>
                                        </button>
                                        <ul style="background-color:#EEEEEE; font-size:12px; width:208px;" class="dropdown-menu">
                                            <li><a id="lisa" href="">Jonathan Smith</a></li>
                                            <li><a id="lisa" href="">Will Smith</a></li>
                                            <li><a id="lisa" href="">Di Carpio</a></li>
                                        </ul>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-left:17px;">
                    <button style="font-family:SanFransisco; color:#66B1E3; padding:5px 15px; margin-right:18px; border-color: #66B1E3; border-radius:0px;" id="tesTs" ng-click="butClick()" type="button" class="btn btn-default">Cancel</button>
                    <button style="font-family:SanFransisco;background-color:#66B1E3 !important; color:#; padding:5px 15px; border-radius:0px;" id="tesTs" ng-click="butClick()" type="button" class="btn btn-default">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------Accordian End---------------------------------------->
<div style="background-color:#fff; position: absolute; padding-left: 12px;padding-top: 5px; margin-top: 15px; margin-left: 620px; height: 28px; width: 117px; ">
    <input ng-model="autoZ" ng-checked="true" id="autoZoom" type="checkbox" name="check" value="zoom" checked>
    <label style="line-height: 1.8; font-size: 11px;" class="zoom" style="color:#526C87;" for="autoZoom">AUTO ZOOM</label>
</div>
<div style="background-color:#fff; position: absolute; padding-left: 12px;padding-top: 5px; margin-top: 15px; margin-left: 745px; height: 28px; width: 113px; ">
    <input id="autoZoom" type="checkbox" name="check" value="zoom" checked>
    <label style="line-height: 1.8; font-size: 11px;" class="zoom" style="color:#526C87;" for="autoZoom">SHOW GRID</label>
</div>
<div class="scrollbar" id="style-5" style="width:365px; float:right;background-color: #526C87; height:450px; float:right;">
    <div class="force-overflow">
    <ul style="background-color:transparent !important;" class="list-group">
        <li class="list-group-items"><p class="listHead">Trip history</p></li>
        <li id="lists" style="" ng-repeat="item in geoJson.rides" class="list-group-item" ng-mouseover="hovList($index)" ng-mouseleave="hovOut($index)">
           <img id="avatar" style="position:absolute; margin-right:10px; margin-top: auto; width: 45px; margin-bottom: auto;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;" ng-src="../images/masknormal.png" class="Mask" alt="{{item.bikeinfo.rider}}">
            <ul id="lisText" style="margin-left:55px; list-style: none; font-size: 12px; line-height: 20px; padding-left: 0px;" class="lis">
                <li>{{item.bikeinfo.rider}}</li>
                <li>{{item.bikeinfo.age}}</li>
                <li>{{item.bikeinfo.gender}}</li>
            </ul>
            <ul id="lisText" style="list-style: none; padding: 0px;font-size: 12px;line-height: 20px; text-align: right; float:right; margin-top:-59px;">
                <li>{{item.rideinfo.startplace}}&nbsp;,&nbsp;&nbsp;{{item.rideinfo.startTime}}<img ng-src="../images/sidenormal.png" style="position: absolute;"></li>
                <li>{{item.rideinfo.distance}}&nbsp;,&nbsp;&nbsp;{{item.rideinfo.duration}}</li>
                <li>{{item.rideinfo.endplace}}&nbsp;,&nbsp;&nbsp;{{item.rideinfo.endTime}}</li>
            </ul>
        </li>
    </ul>
        </div>
</div>